<ion-view view-title="Login" hide-nav-bar="true">
  <ion-content scroll="false">
  <img style="height: 100%; position:absolute; opacity:0.4;" src="./img/background1.jpg"/>
  	<section class="login-container">
        <div class = "col">
        		<img style="width:30%; margin-left:35%; margin-bottom:1%;" src="./img/solutions_icon_cart.png"/>
            <h2 style="text-align:center; color:grey;"><strong>round 2</strong><h2>
            <h4 style="text-align:center; color:dark-grey">Your one stop shopping destination for Ready-to-Expired Goods.</h4>
      			<button class="button button-block button-positive" ng-controller="AppCtrl" ng-click="fbLogin()"><i class="ion-social-facebook"></i>
        			Login with <b>Facebook</b>
    			</button>
    			<button class="button button-block button-balanced">
    				Sign Up Now!
				</button>
        </div>         
    </section>
  </ion-content>
</ion-view>